<!-- <p>Reactiveform works!</p>

<form #f="ngForm" [FormGroup]="form" (ngSubmit)="submit(f)">
    <div class="form-group"> 
        <label for="username">Username</label>
        <input FormControlName="username" type="text" id="username" class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input FormControlName="password" type="password" id="password" class="form-control">
    </div>
    <div>
        <button class="btn btn-primary">Submit</button>
    </div>
</form>
 -->
